{% extends "index/header.html" %}			

{% block content %}
<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">

				<h2> <p style="text-align:center;">About us</p></h2>
			<!-- Content -->
				<section id="content">
					<a href="#" class="image fit"><img src="/static/index/images/us.jpg" alt="" /></a>
					
					<p>Kick-Smart started with the initiative of promoting the use of Artificial Intelligence and machine learning to solve the problems of today. We are a group of Mexican programmers and technology enthusiast who love what we do: Giving people the opportunity to enjoy life by automating those repetitive jobs, working smarter and listening to the facts.</p>
					<h3>The team</h3>
					<div class="box alt">
						<div class="row 50% uniform">
							<div class="4u  6u(xsmall)"><span class="image fit us"><img src="/static/index/images/yo_sentado.jpg" alt="" /></span><h3>Raul Maldonado</h3><p align="justify"><b>Entrepreneur &amp; Data Scientist.</b><br>
								More than 3 years of experience. 1st place in the self-driving drone competition of Robo-challenge world cup. </p>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/maldonadoraulqro" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/margalordyzd" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="mailto:maldonadoraulqro@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
									<li><a href="https://medium.com/@raulmargaritomaldonado" class="icon alt fa-medium"><span class="label">Medium</span></a></li>
								</ul>
							</div>
							<div class="4u  6u(xsmall)"><span class="image fit us"><img src="/static/index/images/jorge.jpg" alt="" /></span><h3>Jorge Espinoza</h3><p align="justify"><b>Data Scientist</b><br>
								Academic and professional background in Mechatronics Engineering, Physics, Data Science &amp; Artificial Intelligence. </p>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/jorge-espinoza-abud/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/jfreek" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="mailto:jorgee.abud@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
									<li><a href="https://medium.com/@jorgee.abud" class="icon alt fa-medium"><span class="label">Medium</span></a></li>
								</ul>
							</div>
							<div class="4u  6u(xsmall)"><span class="image fit us"><img src="/static/index/images/polo.jpg" alt="" /></span><h3>Leopoldo Corona</h3><p align="justify"><b>Sr. Data Scientist at Kueski</b><br>
								Experience with image processing &amp; analysis, risk and fraud models, outliers detection and miscellaneous deep learning </p>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/leopoldocorona/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/leopoloco" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="mailto:jorgee.abud@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
									<li><a href="https://medium.com/@leopoldocoronanieblas" class="icon alt fa-medium"><span class="label">Medium</span></a></li>
								</ul>
							</div>

						</div>
					</div>

				</section>

		</div>
	</div>

{% endblock %}
