{% extends "index/header.html" %}			

{% block content %}
<!-- Banner -->
<section id="banner" background="/static/index/images/desk.jpeg">
	<div class="content">
		<style>
		h2 {text-align:center;}
		p {text-align:center;}
		</style>
		<header>
			<h2> Kick-Smart</h2>
			<p><h6>Think smarter. Aim higher.</h6></p>
		</header>
		<!--<span class="image"><img src="images/pic01.jpg" alt="" /></span>-->
	</div>
	<a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="/static/index/images/big.jpg" alt="" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="4u 12u$(medium)">
					<header>
						<h2>Building the world of tomorrow</h2>
						<p>"We cannot solve our problems with the same thinking we used when we created them" - Albert Einstein</p>
					</header>
				</div>
				<div class="4u 12u$(medium)">
					<p>We believe in thinking different; thinking smarter. With over 4 years of working in the artificial intelligence field, we've learned that working hard is not enough.</p>
				</div> 
				<div class="4u$ 12u$(medium)">
					<p>Kick-Smart is an initiative to promote the use of artificial intelligence to create smart, efficient and sustainable products that strive to have a positive impact in the world.</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
</section>
<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
	<div class="container">
		<header class="major">
			<h2>How can we hep you</h2>
			<p>Our goal is to help you work wiser to Kick-Smart your endeavors</p>
		</header>
		<div class="box alt">
			<div class="row uniform">
				<section class="4u 6u(medium) 12u$(xsmall)">
					<span class="icon  major fa-area-chart fa-lg"></span>
					<h3>Market insights</h3>
					<p>Stop taking emotional decisions, see what data can tell you.</p>
				</section>
				<section class="4u 6u$(medium) 12u$(xsmall)">
					<span class="icon  major fa-paper-plane fa-lg"></span>
					<h3>Smart Applications</h3>
					<p>Create a platform of your own, keep records and share data within your own database and your peers.</p>
				</section>
				<section class="4u$ 6u(medium) 12u$(xsmall)">
					<span class="icon  major fa-gear fa-spin fa-lg"></span>
					<h3>Automate your processes</h3>
					<p>Theres always room for automation. Quit those repetitive jobs, let computers do the hard work.</p>
				</section>
				<section class="4u 6u$(medium) 12u$(xsmall)">
					<span class="icon major  fa-desktop fa-lg "></span>
					<h3>Artificial intelligence</h3>
					<p>Did you know that there are tasks where AI outperforms humans?. ASk a computer.</p>
				</section>
				<section class="4u 6u(medium) 12u$(xsmall)">
					<span class="icon major fa-database fa-lg"></span>
					<h3>Big Data</h3>
					<p>Generate value from large amounts of data.</p>
				</section>
				<section class="4u$ 6u$(medium) 12u$(xsmall)">
					<span class="icon major fa-pied-piper-alt fa-lg"></span>
					<h3>Web Scraping</h3>
					<p>Need more Data? We'll extract it for you.</p>
				</section>
				<section class="4u 6u$(medium) 12u$(xsmall)">
					<span class="icon major  fa-filter fa-lg "></span>
					<h3>Recommender engine</h3>
					<p>Get tailored suggestions with a model that truly understands you and your clients.</p>
				</section>
				<section class="4u 6u$(medium) 12u$(xsmall)">
					<span class="icon major  fa-industry fa-lg "></span>
					<h3>Industry 4.0 &amp; IoT </h3>
					<p>Predict your machinery failures, centralize your operations and measure your performance.</p>
				</section>
			</div>
		</div>
		<footer class="major">
			<ul class="actions">
				<li><a href="#" class="button">Back to top</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Want to know more?</h2>
			<p>Get our most recent business and market insights and learn how you can get Kick-Smarted. Its completely Free!!!</p>
		</header>
		<form method="post" action="#" class="container 50%">
			<div class="row uniform 50%">
				<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
				<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
			</div>
		</form>
	</div>
</section>

{% endblock %}
